
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}


nav {
	padding: 1rem;
	border-bottom: 1px solid gray;
	text-align: center;
	position: sticky;
	top: 0;
	background-color: white;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
	border-radius: 25px;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center bottom;
	margin-bottom: 120px;
}

.front-bg {
	color: white;
	margin: 0;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);
	background-attachment: fixed;
	background-position: center bottom;
}

.title, .title-2 {
	font-family: 'Zilla Slab', serif;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
}

.intro {
	text-align: center;
}

.intro > .title-2 {
	margin-bottom: 120px;
}

.intro-description {
	text-align: justify;
	margin-bottom: 200px;
	margin-left: 280px;
	margin-right: 280px;
}

.book-button {
	background-color: #336589;
	color: white;
	font-size: 1rem;
	border-radius: 25px;
	border: none;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 50px;
	margin-top: 30px;
}

footer {
	text-align: center;
	margin-bottom: 2px;
	padding-bottom: 1rem;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
	border-radius: 25px;
	border: none;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav li, nav .right-nav {
	list-style-type: none;
	display: inline;
}

.right-nav {
	text-align: right;
	padding-left: 35%;
	padding-bottom: 1rem;
	margin-bottom: 2px;
	position: relative;
}

#logo {
	vertical-align: bottom;
	text-align: left;
}

.nav {
	margin-bottom: 2px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.container {
	display: inline-block;
	width: 50%;
	margin-bottom: 2px;
	margin-right: 100px;
	/*padding-right: 8%;*/
	padding-left: 10%;
	padding-bottom: 1rem;
}

.title {
	font-size: 48px;
	margin-bottom: 2px;
	padding-bottom: 1rem;
}

.container > .subtitle {
	font-size: 20px;
	font-weight: normal;
	padding-left: 30%;
	margin-bottom: 2px;
	padding-bottom: 1rem;
	line-height: 5vh;
}

.title-2 {
	font-size: 36px;
}

.prefooter-description {
	margin-top: 80px;
	margin-left: 280px;
	margin-right: 280px;
}